/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    margin: 0px auto;
}

.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.2s;
}

a.shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 0.2s;
}

/* INIZIO HEADER */
/* nav bar */

header nav {
    height: 100px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 9999;
}

header nav .container-navbar{
    height: 80px;
    background: linear-gradient(#3161e0, #255ee9);
    background-color: #3161e0;
    position: relative;
}

header nav .menu-nav {
    width: 40%;
}

header nav .menu-nav li {
    display: inline-block;
    margin: 12px;
}

header nav .menu-nav li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

header nav .menu-nav li a:hover {
    text-decoration: underline;
}

/* Menu nav bar */

.menu-nav {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}

#logo {
    display: inline-block;
    text-align: left;
    line-height: 80px;
    vertical-align: 80px;
    padding: 22px 0px 22px 300px;   
}

#accedi {
    float: right;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border-radius: 30px;
    margin: 20px 300px 0 0;
    padding: 10px 15px;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* Jumbotron */

.container .jumbotron {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 125px 0 0 0;
}

.container .jumbotron .desc-jumbo {
    width: 40%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.container .jumbotron .desc-jumbo h1,
.container main .sect-main h2 {
    font-size: 50px;
    font-weight: 600;
}

.container .jumbotron .desc-jumbo p {
    margin: 40px 0 0 0;
    font-size: 20px;
    line-height: 35px;
}

/* Pulsanti Jumbo */

.container .jumbotron .pulsanti-jumbo {
    text-align: center;
    margin: 50px 0 0 0;
    font-weight: 600;
}

.container .jumbotron .pulsanti-jumbo .donwload-mac {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    margin-right: 60px;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
}

.container .jumbotron .pulsanti-jumbo .donwload-mac:hover {
    color: #2b5de7;
}

.container .jumbotron .pulsanti-jumbo .open-disc-browser {
    background-color: #23272a;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px; 
}

.container .jumbotron .pulsanti-jumbo .open-disc-browser:hover {
    background-color: #323232;
    color: #fff;
}

/* Section main */

.container main .sect-1,
.container main .sect-3 {
    background-color: #fff;
    padding: 250px 350px;
    color: #23272a;
}

.container main .sect-2,
.container main .sect-4 {
    background-color: #f6f6f6;
    padding: 250px 450px;
    color: #23272a;
}

.container main .sect-4 {
    padding-bottom: 150px;
}

/* Section 1-3 */

.container main .sect-main .img-sect {
    float: left;
}

.container main .sect-main .desc-sect,
.container main .sect-main .desc-sect-right {
    float: left;
    width: 27%;
    font-size: 20px;
}

.container main .sect-main .ml-desc {
    margin-left: 200px;
}


.container main .sect-main .desc-sect h2,
.container main .sect-main .desc-sect-right h2,
.container main .sect-main .desc-sect-none h2{
    margin: 30px auto;
}

.container main .sect-main .desc-sect p,
.container main .sect-main .desc-sect-right p,
.container main .sect-main .desc-sect-none p {
    font-size: 21px;
    line-height: 30px;
}

/* Section 2  */

.container main .sect-main .img-sect-right {
    float: right;
}

/* Section 4  */

.container main .sect-main .desc-sect-none,
.container main .sect-main .img-sect-none {
    float: none;
    text-align: center;
    width: 100%;
}

.container main .sect-main.sect-4 .bg-stars {
    text-align: center;
    font-weight: 600;
    font-size: 30px;

}

.container main .sect-main.sect-4 .bg-h3 {
    background-image: url("../img/stars.svg");
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 50px;
}

/* Download main button */

.container main section .donwload-mac {
    text-align: center;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
}

/* FINE MAIN */

/* INIZIO FOOTER */ 

/* container footer top */

.container .container-footer {
    background-color: #23272a;
    padding: 50px 350px;
}

.container-footer .footer-top-left {
    line-height: 50px;
    color: #7189da;
    font-weight: 500;
    width: 20%;
    float: left;
    margin-right: 81px;
}

.container-footer .footer-top-left .lingua{
    color: white;
}


.container-footer .footer-top-left h5 {
    font-size: 30px;
}


.footer-top-left .social a {
    margin-right: 10px;
}


.container-footer .footer-top-left a{
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}

.container-footer .footer-links {
    width: 10%;
    margin-right: 100px;
    float: left;
    text-decoration: none;
}

.container-footer .footer-links a{
    width: 100%;
    margin-right: 100px;
    float: left;
    text-decoration: none;
}

.container-footer .footer-links ul{
    font-size: 17px;
    list-style: none;
    line-height: 30px;
    color: white;
}

.container-footer .footer-links a {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}

.footer-links h5 {
    color: #7189da;
    font-size: 17px;
    font-weight: 600;
}

#logo-lingua {
    width: 10%;
}

#testo-lingua {
    font-size: 12px;
} 

/* footer bottom */

.container .footer-bottom {
    padding: 30px 350px;
    background-color: #23272a;
}

.container .footer-bottom hr {
    margin-bottom: 30px;
    color: #7189da;
}

.container .footer-bottom .registrati {
    text-align: center;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    float: right;
}

/*           :)            debug            (:            */

/* .debug header nav {
    height: 50px;
    background-color: #123233;
} */
 /* .container.debug {
    height: 4000px;
    background-color: #23272a;
}  */
/* 
.debug .jumbotron{
    height: 300px;
    background-color: lightyellow;
} */

/* .debug main .sect-main {
    background-color: pink;
    margin: 0 350px auto;
    height: 300px;
}  */
/* 
.debug .container-footer {
    height: 1000px;
    background-color: lightpink;
    position: relative;
} */

/* .footer-top {
    position: absolute;
    width: 500px;
    margin: 200px 450px 50px 450px;
} */